## MUHAMMAD AMIN NADIM
https://muhammad-amin-nadim.github.io/

In [ ]:
Recommendation System for Market Basket Optimisation using ECLAT Algorithm (Association Rule)

## The ECLAT algorithm stands for Equivalence Class Clustering and bottom-up Lattice Traversal. It is one of the popular methods of Association Rule mining. It is a more efficient and scalable version of the Apriori algorithm. While the Apriori algorithm works in a horizontal sense imitating the Breadth-First Search of a graph, the ECLAT algorithm works in a vertical manner just like the Depth-First Search of a graph. This vertical approach of the ECLAT algorithm makes it a faster algorithm than the Apriori algorithm.

In [42]:
#IMPORTING THE LIBRARIES
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

In [43]:
#IMPORTING THE DATASET
dataset = pd.read_csv('Market_Basket_Optimisation.csv', header = None)
transactions = []

In [44]:
for i in range(0, 7501):
  transactions.append([str(dataset.values[i,j]) for j in range(0, 20)])

In [45]:
#TRAINING THE ECLAT MODEL ON THE DATASET
from apyori import apriori
rules = apriori(transactions = transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)

In [46]:
#VISUALISING THE RESULTS
results = list(rules)
#print(results)

In [47]:
#PUTTING THE RESULTS WELL ORGANISED INTO A PANDAS DATAFRAME
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    return list(zip(lhs, rhs, supports))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Product 1', 'Product 2', 'Support'])

In [48]:
#DISPLAYING THE RESULTS SORTED IN DESCENDING LIST
print(resultsinDataFrame.nlargest(n = 10, columns = 'Support'))

              Product 1    Product 2   Support
4         herb & pepper  ground beef  0.015998
7     whole wheat pasta    olive oil  0.007999
2                 pasta     escalope  0.005866
1  mushroom cream sauce     escalope  0.005733
5          tomato sauce  ground beef  0.005333
8                 pasta       shrimp  0.005066
0           light cream      chicken  0.004533
3         fromage blanc        honey  0.003333
6           light cream    olive oil  0.003200

## Visualization of Results

In [49]:
lhs,rhs,support=[],[],[]
for result in results:
    lhs.append(tuple(result[2][0][0])[0])
    rhs.append(tuple(result[2][0][1])[0])
    support.append(result[1])

In [50]:
columns=list(zip(lhs,rhs,support))

In [51]:
result_df=pd.DataFrame(columns)
result_df.columns=['Item1','Item2','Support']
result_df

                  Item1        Item2   Support
0           light cream      chicken  0.004533
1  mushroom cream sauce     escalope  0.005733
2                 pasta     escalope  0.005866
3         fromage blanc        honey  0.003333
4         herb & pepper  ground beef  0.015998
5          tomato sauce  ground beef  0.005333
6           light cream    olive oil  0.003200
7     whole wheat pasta    olive oil  0.007999
8                 pasta       shrimp  0.005066

## Converting into dataframe

In [52]:
result_df=result_df.sort_values('Support',ascending=False)
result_df

                  Item1        Item2   Support
4         herb & pepper  ground beef  0.015998
7     whole wheat pasta    olive oil  0.007999
2                 pasta     escalope  0.005866
1  mushroom cream sauce     escalope  0.005733
5          tomato sauce  ground beef  0.005333
8                 pasta       shrimp  0.005066
0           light cream      chicken  0.004533
3         fromage blanc        honey  0.003333
6           light cream    olive oil  0.003200